{% extends "base.html" %}

{% block body %}

<div class="jumbotron">
  <h1>Welcome to RTI Man</h1>
  <h2>Platform for crowdfunding RTIs.</h2>
</div>

<div id="features-box">
<div class="row">
  <div class="col-md-4">
    <h2>Free Signup</h2>
    <p>RTI Man registration is absolutely free, as it should be. An account on RTI Man lets you submit RTI Queries, Fund which you find helpful and Vote up the ones which you find interesting.</p>
  </div>
  <div class="col-md-4">
    <h2>Anonymity</h2>
    <p>RTI Man encourages online anonymity and it does not track any data which can be used to identify you. You don't need an email to signup. We do not track which all RTIs a person is submitting, funding or voting up.</p>
  </div>
  <div class="col-md-4">
    <h2>Community driven</h2>
    <p>There is no single entirely controlling anything. RTI Man is run by volunteer moderators who monitor new RTI requests, new upload RTI results etc. Don't like an RTI Query? Downvote. Find an RTI really good? Share it on social media. The power is all with you.</p>
  </div>
</div>
 
<div class="row">
  <div class="col-md-4">
    <h2>Simple</h2>
    <p>RTI Man is built keeping simplicity in mind. Be it submitting an new RTI query or funding an existing one, does not require more than two clicks. RTI man is mobile friendly, you can fully operate the site from your device.</p>
  </div>
  <div class="col-md-4">
    <h2>Search</h2>
    <p>RTI Man enables people to upload existing RTI responses and share with everyone. As a result you have access to thousands of RTIs to search, read and share. More information, more the better!</p>
  </div>
  <div class="col-md-4">
    <h2>Open Source</h2>
    <p>RTI Man believes in Open Source and the code powers this site is on <a href="http://github.com/avinassh/rti" target="_BLANK">Github</a>. It's released with most friendly open source license, MIT License, so you can start your own version without paying any dime.</p>
  </div>
</div>
</div>

{% end %}